<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <section>
    <div> 
    <h1>Airport: <%= flight.airport %></h1>
    <h1>Airline: <%= flight.airline %></h1>
    <h1>Flight Number: <%= flight.flightNo %></h1>
    <h1>Departs: <%= flight.departs %></h1>
  </div>
  </section>

<h3>Destination</h3>
<section>
  <% if (flight.destination.length) { %>
    <% flight.destination.forEach(function(d) { %>
    <label>Destination Airport</label>
    <div><%= d.airport %></div>
</section>
<h3>Add Destination</h3>
    <form id="add-destination" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Add a Destination: </label>
        <select name="airport"> 
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <input type="submit" value="Add Destination"> 
        </form>
</section>
</main>
<%- include("../partials/footer") %>
