<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
</html>

<%- include('../partials/footer') %>