<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<section>
  <% flights.forEach(flight => { %> 
  <div> 
  <h1>Airport: <%= flight.airport %></h1>
  <h1>Airline: <%= flight.airline %></h1>
  <h1>Flight Number: <%= flight.flightNo %></h1>
  <h1>Departs: <%= flight.departs %></h1>
</div>
<% }) %> 
</section>
<br>
<h2>Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Destination: </label>
    <select name="airport" >
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Destinations Yet</h5>
    <% } %>
    <a href="/flights/<%= flight._id %>">New Ticket</a>
    
    <h3>Tickets</h3>
    <form action="/flights/<%= flight._id %>/ticket" method="POST">
      <label>Seat:
      <input name="seat" required pattern="[A-F][1-9]\d?">
      </label><br>
      <label>Price:
        <input type="number" name="price">
      </label><br>
      <button type="submit">Add Ticket</button>
    </form>
    <h4><a href="/flights/">Back to main</a></h4>
    <% if (flight.tickets.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  <% } else { %> 
    <h3>No Tickets Yet</h3>



<%- include('../partials/footer') %>