<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<section>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>flight number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
<br>
<h2>Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Destination: </label>
    <select name="airport" >
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Destinations Yet</h5>
    <% } %>
    <a href="/flights/<%= flight._id %>">New Ticket</a>



<%- include('../partials/footer') %>